.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #ececec;
}
.header-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigations {
    margin: 32px 371px 32px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    padding: 0px;
}
.contact-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.main-heading {
    max-width: 696px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 30px;
    text-align: center;
    }
.service-button {
    padding: 10px 41px;
}
.service {
    text-align: center;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.lorem-ipsum {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
}
.headlines {
    padding-bottom: 50px;
    margin: 0 auto;
}
.index-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 0px;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 94px;
}
.team-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding:0;
    width: 1170px;
    margin: 0 auto;
}
.team-image-display {
    margin:0;
}
img {
    display: block;
    max-width: 100%;
    height: auto; 
}
.team-image-description {
    padding-top: 30px;
}
.team-image-description span {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    display: block;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    width: 572px;
    padding: 0;
    margin-left: 510px;
    margin-right:510px;
}
.buttons .button {
    padding: 6px 22px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1170;
    padding: 0;
}
.image {
    flex-basis: calc((100%-60px)/3);
    border: 1px solid #EEEEEE;
}
.image-display {
    margin: 0;
}
.image-caption {
    width: 370px;

}
footer {
    display: flex;
    margin: 0px;
}
.footer-adress {
    display: flex;
    flex-direction: column;
    gap: 9px;


}
.bottom-logo {
padding-top: 60px;
padding-bottom: 20px;
}